force-app/main/Universal Flow Invocable/flows/Demo_Dynamic_Apex_Actions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Dynamic_Call</name>
        <label>Dynamic Call</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <actionName>UniversalInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>OperationOutputResult</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>className</name>
            <value>
                <stringValue>CustomInvocable</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>methodName</name>
            <value>
                <elementReference>Operation_Type</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>parameters</name>
            <value>
                <elementReference>Call_Parameters</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>result</name>
            <value>
                <elementReference>OutputResult</elementReference>
            </value>
        </inputParameters>
        <nameSegment>UniversalInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assignments</name>
        <label>Assignments</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>StartingDateParameter.parameterName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>startingDate</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StartingDateParameter.dateValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Starting_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EndingDateParameter.parameterName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>endingDate</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EndingDateParameter.dateValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Ending_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Call_Parameters</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>StartingDateParameter</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Call_Parameters</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EndingDateParameter</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Dynamic_Call</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>OptDaysBetween</name>
        <choiceText>Days Between</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>daysbetweendates</stringValue>
        </value>
    </choices>
    <choices>
        <name>OptDaysTillChristmas</name>
        <choiceText>Days Till Christmas</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>daystillchristmas</stringValue>
        </value>
    </choices>
    <environments>Default</environments>
    <interviewLabel>Demo Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Demo Dynamic Apex Actions</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Choose_Operation_and_Parameters</name>
        <label>Choose Operation and Parameters</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assignments</targetReference>
        </connector>
        <fields>
            <name>Operation_Type</name>
            <choiceReferences>OptDaysTillChristmas</choiceReferences>
            <choiceReferences>OptDaysBetween</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Operation Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Starting_Date</name>
            <dataType>Date</dataType>
            <fieldText>Starting Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Ending_Date</name>
            <dataType>Date</dataType>
            <fieldText>Ending Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Operation_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>OptDaysBetween</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>OperationOutputResult</name>
        <label>OperationOutputResult</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>OutputResultDisplayValue</name>
            <fieldText>&lt;p&gt;{!Dynamic_Call.result.integerValue}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Choose_Operation_and_Parameters</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Call_Parameters</name>
        <apexClass>UniversalFlowInputOutputParameter</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EndingDateParameter</name>
        <apexClass>UniversalFlowInputOutputParameter</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OutputResult</name>
        <apexClass>UniversalFlowInputOutputParameter</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StartingDateParameter</name>
        <apexClass>UniversalFlowInputOutputParameter</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
