force-app/main/Universal Flow Invocable/flows/testflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Invoke_custom_universal_invocable</name>
        <label>Invoke custom universal invocable</label>
        <locationX>176</locationX>
        <locationY>647</locationY>
        <actionName>UniversalInvocable</actionName>
        <actionType>apex</actionType>
        <!--        <connector>-->
        <!--            <targetReference>set_SLA_serial</targetReference>-->
        <!--        </connector>-->
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>className</name>
            <value>
                <stringValue>CustomInvocable</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>methodName</name>
            <value>
                <stringValue>daysBetweenDates</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>parameters</name>
            <value>
                <elementReference>params</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>create_list_of_parameters</name>
        <label>create list of parameters</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>params</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>startDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>params</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>endDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Invoke_custom_universal_invocable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_endDate</name>
        <label>set endDate</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>endDate.dateValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <dateValue>2023-12-25</dateValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_list_of_parameters</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_startDate</name>
        <label>set startDate</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>startDate.dateValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <dateValue>2023-05-28</dateValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>set_endDate</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>testflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>testflow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <!--    <recordUpdates>-->
    <!--        <description>seriously this is a dumb example. This sets the sla serial # to the # of days between my birthday-->
    <!--            and christmas.-->
    <!--        </description>-->
    <!--        <name>set_SLA_serial</name>-->
    <!--        <label>set SLA serial #</label>-->
    <!--        <locationX>176</locationX>-->
    <!--        <locationY>755</locationY>-->
    <!--        <inputAssignments>-->
    <!--            <field>SLASerialNumber__c</field>-->
    <!--        </inputAssignments>-->
    <!--        <inputReference>$Record</inputReference>-->
    <!--    </recordUpdates>-->
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>set_startDate</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>endDate</name>
        <apexClass>UniversalFlowInputOutputParameter</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>params</name>
        <apexClass>UniversalFlowInputOutputParameter</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>startDate</name>
        <apexClass>UniversalFlowInputOutputParameter</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
