force-app/main/Universal Flow Invocable/flows/Update_Description.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Execute_Actions</name>
        <label>Execute Actions</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <actionName>UniversalBulkInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Parse_Output</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputs</name>
            <value>
                <elementReference>Apex_Actions</elementReference>
            </value>
        </inputParameters>
        <nameSegment>UniversalBulkInvocable</nameSegment>
        <outputParameters>
            <assignToReference>Call_Results</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Add_Description</name>
        <label>Add Description</label>
        <locationX>264</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Description_Output</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CalculateText</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Parse_Output</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Configuration</name>
        <label>Set Configuration</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>Days_Till_Christmas_starting_Date_Param.dateValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Days_Till_Christmas_starting_Date_Param.parameterName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>startingDate</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Days_Between_Dates_startingDate_Param.dateValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Days_Between_Dates_startingDate_Param.parameterName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>startingDate</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Days_Between_Dates_endingDate_Param.dateValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CloseDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Days_Between_Dates_endingDate_Param.parameterName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>endingDate</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Days_Till_Christmas_Input.className</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CustomInvocable</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Days_Till_Christmas_Input.methodName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>daystillchristmas</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Days_Till_Christmas_Input.parameters</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Days_Till_Christmas_starting_Date_Param</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Days_Between_Dates_Input.className</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CustomInvocable</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Days_Between_Dates_Input.methodName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>daysbetweendates</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Days_Between_Dates_Input.parameters</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Days_Between_Dates_startingDate_Param</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Days_Between_Dates_Input.parameters</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Days_Between_Dates_endingDate_Param</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Apex_Actions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Days_Till_Christmas_Input</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Apex_Actions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Days_Between_Dates_Input</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Execute_Actions</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>CalculateText</name>
        <dataType>String</dataType>
        <expression>{!Parse_Output.methodName} &amp; &quot;: &quot; &amp; TEXT(0-{!Parse_Output.result.integerValue}) &amp; BR()</expression>
    </formulas>
    <interviewLabel>Update Description {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Description</label>
    <loops>
        <name>Parse_Output</name>
        <label>Parse Output</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <collectionReference>Call_Results</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Description</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Description_For_Opportunity</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Description_For_Opportunity</name>
        <label>Update Description For Opportunity</label>
        <locationX>176</locationX>
        <locationY>839</locationY>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description_Output</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Configuration</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Apex_Actions</name>
        <apexClass>UniversalFlowInputOutput</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Call_Results</name>
        <apexClass>UniversalFlowInputOutput</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Days_Between_Dates_endingDate_Param</name>
        <apexClass>UniversalFlowInputOutputParameter</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Days_Between_Dates_Input</name>
        <apexClass>UniversalFlowInputOutput</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Days_Between_Dates_startingDate_Param</name>
        <apexClass>UniversalFlowInputOutputParameter</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Days_Till_Christmas_Input</name>
        <apexClass>UniversalFlowInputOutput</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Days_Till_Christmas_starting_Date_Param</name>
        <apexClass>UniversalFlowInputOutputParameter</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Description_Output</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
