force-app/main/default/flows/testflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>testing123</name>
        <label>testing123</label>
        <locationX>176</locationX>
        <locationY>647</locationY>
        <actionName>UniversalInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>update</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>className</name>
            <value>
                <stringValue>CustomInvocable</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>methodName</name>
            <value>
                <stringValue>daysBetweenDates</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>parameters</name>
            <value>
                <elementReference>params</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>coalesce_params_into_list_of_params</name>
        <label>coalesce params into list of params</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>params</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>param1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>params</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>param2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>testing123</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_ending_date</name>
        <label>set ending date</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>param2.parameterName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>endingDate</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>param2.parameterType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>date</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>param2.dateValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <dateValue>2023-12-25</dateValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>coalesce_params_into_list_of_params</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>StartingDate</name>
        <label>Starting Date</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>param1.parameterName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>startingDate</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>param1.dateValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <dateValue>2023-05-28</dateValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>param1.parameterType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>date</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>set_ending_date</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>testflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>testflow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>update</name>
        <label>update</label>
        <locationX>176</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>SLASerialNumber__c</field>
            <value>
                <elementReference>testing123.result.integerValue</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>StartingDate</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>param1</name>
        <apexClass>UniversalFlowInputOutputParameter</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>param2</name>
        <apexClass>UniversalFlowInputOutputParameter</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>params</name>
        <apexClass>UniversalFlowInputOutputParameter</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
